# MonoGame specific
Bin/
obj/
Properties/AssemblyInfo.cs
*.userprefs
MonoGame.Framework.Content.Pipeline/bin/
MonoGame.Framework.Content.Pipeline/obj/

# Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.ide
*.vs/
*.vssscc
*_i.c
*_p.c
*.pidb
*.log
*.tlog
*.iobj
*.ipdb
*.opendb
*.unityproj
*.VC.db
*.VC.VC.opendb
*.VC.VC.opendb.lock
*.ncb
*.dbmdl
*.dbproj
*.sdf
*.obj
*.pdb
*.cache
*.ilk
*.resources
*.resx
*.user
*.VC.db

# Rider
.idea/

# Build results
[n]et6.0/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

# Visual Studio 2017+
.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2019
.vs/
/bin/
/obj/
/coreQA/.vs/powerAdmin/DesignTimeBuild/.dtbcache.v2
/coreQA/.vs/powerAdmin/v17/.suo
/coreQA/nanoBuildingBox/node_modules
/coreQA/nanoBuildingBox/dist
/nano/dist
/nano/node_modules
